@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Styling for the Table*/

label{
  display: inline-block;
  width: 100px;
}

header{
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

thead th, tfoot th{
  font-family: 'Courier New', Courier, monospace;
}

th{
  letter-spacing: 2px;
  padding: 10px;
}

td{
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

/* Column Size for thead */

.scale-down {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

body{
  background-color: rgb(235, 189, 130);
}

/* th:nth-child(4), th:nth-child(5) {
  width: 50%;
}

th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(6) {
  width: 5%;
}



.header{
  background-color: burlywood;
} */